:root{
    --primary-color: #4B5563;
    --secondary-color:white;
}
header{
    background-color:#374151;
    font-size: 1rem;
}
nav{
    text-align: right;
}
.archit{
    font-size: 2rem;
    color: white;
    text-decoration:none;
    padding:3rem 2rem;
}
.home , .projects , .blog{
     font-size:1.5rem;
     color:white;
     text-decoration:none;
     padding:0 1.2rem;
}
.img-logo{
    width:35%;
    margin: 2rem auto;
    display:block;
}
.container{
    text-align: center;
    padding:1.5rem;
    background-color: #9CA3Af;
    color: white;
    font-size:1.5rem;
}
.technolgy{
    text-align: center;
    padding:1.5rem;
    font-size: 1.5rem;
    color:#4b5563;
}
.project{
    text-align: center;
    color:white;
    font-size: 1.5rem;
    padding:1.5rem 0;
    background-color:#9CA3Af;
}
.link-projects{
    color:white;
    text-decoration: none;
}
.link-container2{
    width:100px;
    border:2px solid white;
    border-radius: 25px;
    margin: 0 auto;
    background-color:#4B5563;
}
.blogs-section{
    text-align: center;
    padding:1.5rem;
    font-size: 1.5rem;
    color:#4b5563;
}
.container3{
    background-color: white;
    border: 2px solid black;
}
.link-blogs{
    text-decoration: none;
    color: black;
}
footer{
    background-color: #374151;
    color: white;
    display:block;
    padding:10px 10px;
}
small{
    font-size:20px;
}
.flink-a-tag{
    font-size: 20px;
    color: white;
    margin:0 10px;
}
.footer-link{
    text-align: right;
    vertical-align: middle;
    color: white;
}
.projects-live{
    list-style: none;
}
.first-container{
    max-width:60%;
    margin:30px auto;
    text-align: center;
    font-size:1.3rem;
    padding:20px 0;
    background-color: #9CA3Af;
    border:2px black solid;
    line-height:0.8;
    color: white;
}
.first-link{
    background-color:var(--primary-color);
    padding:10px;
    color:white;
    text-decoration: none;
    border-radius: 25px;
    margin:20px auto;
    display: block;
    max-width: 4rem;
    border: 2px solid black;
    margin-bottom:30px;
}
.second-link{
    background-color: var(--secondary-color);
    padding:10px;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    margin:0 20px;
    border:2px solid black;
}
.container5{
    background-color: white;
    color:black;
}
.container6{
    max-width:50%;
    margin:100px auto;
    text-align: center;
    font-size:1.5rem;
    padding:1rem 0;
}
.read-more{
    background-color: #374151;
    color: white;
    text-decoration:none;
    border-radius:25px;
    padding:0.8rem;
}
.container7{
    display: flex;
    width:70%;
    margin: 0 auto;
    font-size:1.5rem;
    justify-content: space-between;
}
.img-flexbox{
    width:50%;
}
.photo-flexbox{
    width:100%;
}
.flex-box1{
    width:50%;
}
.container8{
    display:block;
}
.axis{
    width:600px;
}
ul{
    line-height:2;
}
.photo-flex1{
    max-width: 100%;
}